<div class="operator-container">
  <div class="operator" (click)="onClickOperatorType(OperatorType.Filtering)">
    <div class="title">
      Filtering Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Conversion)">
    <div class="title">
      Conversion Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Combinatorial)">
    <div class="title">
      Combinatorial Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Math)">
    <div class="title">
      Math && Associative Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Utility)">
    <div class="title">
      Utility Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Conditional)">
    <div class="title">
      Conditional Operators
    </div>
  </div>
</div>