<div class="operator-container">
  <div class="operator" (click)="onClickOperatorType(OperatorType.Filtering)">
    <div class="title">
      Filtering Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Transformation)">
    <div class="title">
      Transformation Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Combination)">
    <div class="title">
      Combination Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Mathmetical)">
    <div class="title">
      Mathmetical Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Utility)">
    <div class="title">
      Utility Operators
    </div>
  </div>
  <div class="operator" (click)="onClickOperatorType(OperatorType.Conditional)">
    <div class="title">
      Conditional Operators
    </div>
  </div>
</div>