.container {
  margin: auto;
  width: 1060px;
  .title-wrapper {
    display: flex;
    align-items: center;
    h1 {
      font-size: 3.2rem;
      color: rgb(124, 124, 124);
      flex: 1 1 0%;
    }
    h3 {
      font-size: 2rem;
      color: rgb(124, 124, 124);
      flex: 0 0 820px;
    }
  }
  .operator-list-container {
    display: flex;
    .operator-type-container {
      flex: 1 1 0%;
      .operator-type {
        color: rgb(124, 124, 124);
        .title {
          text-transform: uppercase;
          font-size: 1.2rem;
          margin-top: 22px;
        }
        .operator {
          font-size: 1.6rem;
          line-height: 2.5rem;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .operator-container {
      flex: 0 0 820px;
    }
  }
}