<div class="operator-container">
  <div class="operator">
    <div class="title">
      Filtering Operators
    </div>
  </div>
  <div class="operator">
    <div class="title">
      Conversion Operators
    </div>
  </div>
  <div class="operator">
    <div class="title">
      Combinatorial Operators
    </div>
  </div>
  <div class="operator">
    <div class="title">
      Math && Associative Operators
    </div>
  </div>
  <div class="operator">
    <div class="title">
      Utility Operators
    </div>
  </div>
  <div class="operator">
    <div class="title">
      Conditional Operators
    </div>
  </div>
</div>
<router-outlet></router-outlet>
