/* You can add global styles to this file, and also import other style files */

.operator-list-container {
  padding: 3rem;
  ul {
    li ~ li {
      margin-top: 1rem;
    }
    li {
      cursor: pointer;
    }
  }
}